@model List<Environments>

<!DOCTYPE html>
<html>
<head>
    <title>Application List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container mt-4">
        <h2>Environment List</h2>

        <button type="button" class="btn btn-primary float-end" onclick="AddEditEnviroment()">
            Add Environment
        </button>

        <!-- Table to display the list of items -->
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Application Name</th>
                    <th>Browser Name</th>
                    <th>Base Url</th>
                    <th>Base Path</th>
                    <th>Driver Path</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var environment in Model)
                    {
                        <tr>
                            <td>@environment.EnvironmentId</td>
                            <td>@environment.EnvironmentName</td>
                            <td>@environment.ApplicationName</td>
                            <td>@environment.BrowserName</td>
                            <td>@environment.Baseurl</td>
                            <td>@environment.BasePath</td>
                            <td>@environment.DriverPath</td>
                            <td>
                                <a class="bg-white border-0" onclick="EditEnvironment(@environment.EnvironmentId)">
                                    <em class="fas fa-edit mx-2 text-success"></em>
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="editModal_@environment.EnvironmentId" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit Application</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label>Environment Name</label>
                                                <input type="text" class="form-control" id="editEnvName" value="@environment.EnvironmentName" />
                                            </div>
                                            <button type="submit" class="btn btn-primary float-end" onclick="editEnvironment(@environment.EnvironmentId)">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </tbody>
        </table>
    </div>

    <!-- Add Modal for adding new item -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add New Environment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddEnviroment" method="post">
                        <div class="form-group">
                            <label>Environment Name</label>
                            <input type="text" class="form-control" id="newEnvName" />
                        </div>
                        <button type="submit" class="btn btn-primary float-end" onclick="addEnvironment()">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>

<script>
    function AddEditEnviroment() {
        window.location.href = '@Url.Action("Add", "Environment")';
    }
    function EditEnvironment(id) {
        var url = '@Url.Action("Edit", "Environment")';
        window.location.href = url + '?id=' + id;
    }

    //function addEnvironment(){
    //    var _environmentName = document.getElementById('newEnvName').value;
    //    const model = { EnvironmentId: 0, EnvironmentName: _environmentName };
    //    $.ajax({
    //        url: '@Url.Action("AddEnviroment", "Environment")',
    //        type: "POST",
    //        data: model,
    //        success: function (result) {
    //           location.reload();
    //        }
    //    });
    //}

    //function editEnvironment(id) {
    //    debugger;
    //    var _editEnvironmentName = $('#editEnvName').val();
    //    const model = { EnvironmentId: id, EnvironmentName: _editEnvironmentName };
    //    $.ajax({
    //        url: '@Url.Action("AddEnviroment", "Environment")',
    //        type: "POST",
    //        data: model,
    //        success: function (result) {
    //            if(result != "")
    //            {
    //                debugger;
    //                window.location.reload();
    //            }
    //        }
    //    });
    //}
</script>
