@model List<SeleniumTestReport.DTO_s.Dto_RunId>

<html>
<body>
    <div class="accordion">
        @{
            if (Model != null)
            {
                if (ViewBag.RunDates != null)
                {
                    foreach (var runDate in ViewBag.RunDates)
                    {
                        <div class="date mb-1" onclick="toggleContent('@runDate.Replace(" ", "")')">@runDate</div>
                        <div class="content" id="@runDate.Replace(" ", "")">
                            @{
                                foreach (var runId in Model)
                                {
                                    if (runDate == runId.RunStartDateTime.ToString("MMMM dd"))
                                    {
                                        <button id="runId_@runId.TestSuiteName@runId.RunId" type="button" class="btn btn-light mb-2 border-secondary w-100 card testRunId_Clickable" onclick="GetDestDetails('@runId.TestSuiteName','@runId.RunId')">
                                            <div class="d-flex col-md-12">
                                                <div class="col-md-3">@runId.RunId</div>
                                                <div class="col-md-2">@runId.TestRunStatus</div>
                                                <div class="col-md-1">@runId.TotalTestCases</div>
                                                <div class="col-md-3">@runId.RunStartDateTime</div>
                                                <div class="col">@runId.RunEndDateTime</div>
                                            </div>
                                        </button>
                                    }
                                }
                            }
                        </div>
                    }
                }
            }
        }
    </div>
</body>
</html>