@model List<SeleniumTestReport.DTO_s.dto_RunId>

<html>
<head>
    <style>
        .accordion {
            display: flex;
            flex-direction: column;
        }

        .date {
            background-color: #f1f1f1;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ddd;
            text-align: left;
        }

        .content {
            display: none;
            padding: 10px;
            border-top: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="accordion">
        @{
            if (Model != null)
            {
                if (ViewBag.RunDates != null)
                {
                    foreach (var runDate in ViewBag.RunDates)
                    {
                        <div class="date mb-1" onclick="toggleContent('@runDate.Replace(" ", "")')">@runDate</div>
                        <div class="content" id="@runDate.Replace(" ", "")">
                            @{
                                foreach (var runId in Model)
                                {
                                    if (runDate == runId.RunDateTime)
                                    {
                                        <button id="runId_@runId.RunId" type="button" class="btn btn-light mb-2 border-secondary w-100 card testRunId_Clickable" onclick="GetDestDetails('@runId.TestSuiteName','@runId.RunId')">@runId.RunId</button>
                                    }
                                }
                            }
                        </div>
                    }

                }
            }
        }
    </div>
    <script>
        function toggleContent(id) {
            var content = document.getElementById(id);
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        }
    </script>
</body>
</html>