@model IEnumerable<SeleniumTestReport.DTO_s.Dto_TestRunDetails>

<div>Hi</div>
<@*table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestCaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestRunStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestFailureMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestFailureScreenShot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestSteps)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestRun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestRunStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestFailureMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestFailureScreenShot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestSteps)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>*@
