<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/poper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div>
                <button class="btn button float-end" data-toggle="modal" data-target="#addTestSuiteModal">Add Test Suite</button>
            </div>
            <hr class="mt-2" />
            <div class="modal" id="addTestSuiteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Test Suite</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form id="addTestSuiteForm">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="testSuiteName">Test Suite Name:</label>
                                    <input type="text" class="form-control" id="testSuiteName" name="testSuiteName" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" onclick="addTestSuite()">Add</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="testSuiteContainer"></div>
            </div>
            <div class="col">
                <div id="testCaseContainer"></div>
            </div>
        </div>
    </div>

    <script>
        // Load Test Suites on Page Load
        $(document).ready(function () {
            getCustomTestSuites();
        });

        // Add Test Suites on Add
        function addTestSuite() {
            var testSuiteName = $("#testSuiteName").val();
            if (testSuiteName) {
                $.ajax({
                    url: '@Url.Action("AddTestSuites", "CustomTestSuite")',
                    data: { TestSuite: testSuiteName },
                    type: "POST",
                    success: function (result) {
                        console(result);
                    }
                });
                $("#addTestSuiteModal").modal("hide");
                location.reload();
            } else {
                alert("Please enter a Test Suite Name.");
            }
        }

        // Get Test Suite List
        function getCustomTestSuites() {
            $.ajax({
                url: '@Url.Action("GetTestSuites", "CustomTestSuite")',
                success: function (result) {
                    $('#testSuiteContainer').html(result);
                }
            });
        }

        // Edit Test Suites
        var currentEditTestSuiteId;
        function openEditModal(testSuiteId, testSuiteName) {
            currentEditTestSuiteId = testSuiteId;
            $("#editTestSuiteName").val(testSuiteName);
            $("#editTestSuiteModal").modal("show");
        }

        function saveEditTestSuite() {
            var editedTestSuiteName = $("#editTestSuiteName").val();
            if (editedTestSuiteName) {
                $.ajax({
                    url: '@Url.Action("EditTestSuites", "CustomTestSuite")',
                    data: { TestSuiteName: editedTestSuiteName, TestSuiteId: currentEditTestSuiteId },
                    type: "POST",
                    success: function (result) {
                        console(result);
                    }
                });
                $("#editTestSuiteModal").modal("hide");
                location.reload();
            } else {
                alert("Please enter a Test Suite Name.");
            }
        }

        // Delete Test Suites
        function deleteTestSuites(testSuiteId) {
            $.ajax({
                url: '@Url.Action("DeleteTestSuites", "CustomTestSuite")',
                data: { TestSuiteId: testSuiteId },
                success: function (result) {
                    $('#testSuiteContainer').html(result);
                }
            });
            location.reload();
        }

        // Show Test Cases while select a custom Test Suite
        function GetTestCases() {
            $.ajax({
                url: '@Url.Action("GetTestCases", "CustomTestSuite")',
                success: function (result) {
                    $('#testCaseContainer').html(result);
                }
            });
        }
    </script>
</body>
</html>
